.main-layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $color-dark;
  &::before {
    @include bg-glow;
    z-index: 0;
    pointer-events: none;
  }
}

// APP LAYOUT
.app-layout {
  display: flex;
  min-height: 100vh;
  @include respond(md) {
    flex-direction: column;
  }
}

// MAIN AREA
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  overflow: hidden;
  @include respond(md) {
    width: 100%;
  }
}

// MAIN CONTENT
.main-content {
  flex: 1;
  position: relative;
  padding: $spacing-lg;
  overflow-y: auto; // 🔥 FIX SCROLL
  @include scrollbar;
  @include respond(md) {
    padding: $spacing-md;
  }
}
