.navbar {
  position: sticky;
  top: 30px;
  height: 60px;
  width: 100%;
  max-width: $breakpoint-xxl;
  margin-inline: auto;
  padding: 0 $spacing-lg;
  border-radius: $radius-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-lg;
  background-color: rgba(17, 17, 17, 1);
  backdrop-filter: blur(10px);
  color: $text-light;
  z-index: 1030;
  @include smooth;
  &:hover {
    box-shadow:
      0 10px 35px rgba(0, 0, 0, 0.5),
      0 0 0 1px rgba(255, 255, 255, 0.08);
  }
}

.logo-header {
  width: 60px;
  height: 60px;
  border-radius: $radius-circle;
  object-fit: cover;
}

.nav-center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
}

