// Sidebar

.sidebar {
  position: sticky;
  top: 0;
  width: 240px;
  height: 100vh;
  padding: $spacing-3xl $spacing-ss;
  background-color: rgba(17, 17, 17, 0.95);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  a {
    display: flex;
    align-items: center;
    gap: $spacing-md;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-sm;
    color: rgba($color-white, 0.7);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    @include smooth;
    &:hover {
      background-color: rgba($color-white, 0.08);
      color: $text-light;
      transform: translateX(4px);
    }
    &.active {
      background-color: rgba($color-primary, 0.15);
      color: $text-primary;
      box-shadow: inset 3px 0 0 $color-primary;
      @include smooth;
    }
    &:hover {
      background-color: rgba($color-white, 0.08);
      color: $text-light;
      transform: translateX(4px);
    }

    i {
      width: 20px;
      text-align: center;
      font-size: 16px;
      color: inherit;
      @include smooth;
    }
  }
}

//=============================================================================
// .sidebar {
//   width: 240px;
//   height: 100vh;

//   padding: 50px 12px;

//   background-color: rgba(17, 17, 17, 0.95);
//   backdrop-filter: blur(10px);

//   display: flex;
//   flex-direction: column;
//   gap: 8px;
//   position: relative;

//   a {
//     display: flex;
//     align-items: center;
//     gap: 15px;

//     padding: 10px 14px;
//     border-radius: 8px;

//     color: rgba(255, 255, 255, 0.7);
//     text-decoration: none;

//     font-size: 20px;
//     font-weight: 500;

//     transition: all 0.2s ease;

// &:hover {
//   background-color: rgba(255, 255, 255, 0.08);
//   color: #ccc;

//   transform: translateX(4px);
// }

//     &:active {
//       background-color: rgba(0, 198, 255, 0.15);
//       color: #00c6ff;

//       box-shadow: inset 3px 0 0 #00c6ff;
//     }
//   }

//   i {
//     font-size: 20px;

//     &:hover {
//       background-color: rgba(255, 255, 255, 0.08);
//       color: #ccc;

//       transform: translateX(4px);
//     }

//     &:active {
//       background-color: rgba(0, 198, 255, 0.15);
//       color: #00c6ff;

//       box-shadow: inset 3px 0 0 #00c6ff;
//     }
//   }
// }
