<form method="POST" action="/auth/forgot-password">
  <input type="email" name="email" placeholder="Enter email" required />

  {{#if error}}
  <p>{{error}}</p>
  {{/if}} {{#if success}}
  <p>{{success}}</p>
  {{/if}}

  <button>Send reset link</button>
</form>
