<div class="auth-page">
  <div class="info-box">
    <div class="auth-header">
      <h2>Forgot Password</h2>
      <p>Enter your email to receive a reset link</p>
    </div>

    <form method="POST" action="/auth/forgot-password">
      <div class="input-box">
        <i class="fa-solid fa-envelope input-icon"></i>
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>
      {{#if error}}
      <p class="auth-message error">{{error}}</p>
      {{/if}} {{#if success}}
      <p class="auth-message success">{{success}}</p>
      {{/if}}
      <button type="submit" class="btn-submit">Send Reset Link</button>
      <div class="get-account">
        <a href="/auth/login">Back to login</a>
      </div>
    </form>
  </div>
</div>
