<div class="register-page auth-page">
  <div class="info-box">
    <div class="auth-header">
      <h2>Create Account</h2>
      <p>Start organizing your life in seconds</p>
    </div>

    <form method="POST" action="/auth/register">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />

      <div class="input-box">
        <i class="bi bi-person-fill input-icon"></i>
        <input type="text" name="name" placeholder="Nickname..." required />
      </div>

      <div class="input-box">
        <i class="bi bi-at input-icon"></i>
        <input
          type="text"
          name="username"
          placeholder="@Username..."
          required
        />
      </div>

      <div class="input-box">
        <i class="bi bi-envelope-at-fill input-icon"></i>
        <input type="email" name="email" placeholder="Email..." required />
      </div>

      <div class="input-box">
        <i class="bi bi-person-fill-lock input-icon"></i>
        <input
          type="password"
          name="password"
          placeholder="Password..."
          required
        />
      </div>

      <button class="btn-submit">Create Account</button>
    </form>

    <div class="social-submit">
      <a href="/auth/google" class="btn-social"><i class="bi bi-google"></i></a>
      <a href="/auth/facebook" class="btn-social"
        ><i class="bi bi-facebook"></i
      ></a>
      <a href="/auth/line" class="btn-social"><i class="bi bi-line"></i></a>
    </div>

    <p class="get-account">
      Already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </div>
</div>
