<div class="auth-page">
  <div class="info-box">
    <div class="auth-header">
      <h2>Reset Password</h2>
      <p>Create a new secure password</p>
    </div>

    <form method="POST" action="/auth/reset-password">
      <input type="hidden" name="token" value="{{token}}" />
      <div class="input-box">
        <i class="fa-solid fa-lock input-icon"></i>
        <input
          type="password"
          name="password"
          placeholder="New password"
          required
        />
      </div>
      {{#if error}}
      <p class="auth-message error">{{error}}</p>
      {{/if}}
      <button type="submit" class="btn-submit">Reset Password</button>
    </form>
  </div>
</div>
