<form method="POST" action="/auth/reset-password">
  <input type="hidden" name="token" value="{{token}}" />

  <input type="password" name="password" placeholder="New password" required />

  {{#if error}}
  <p>{{error}}</p>
  {{/if}}

  <button>Reset password</button>
</form>
