<div class="login-page">
  <div class="info-box">
    <h2>Welcome Back !</h2>
    <form method="POST" action="/auth/login">
      <div class="input-box">
        <i class="bi bi-envelope-at-fill input-icon"></i>
        <input
          type="email"
          name="email"
          class="form-control mb-2"
          placeholder="Email..."
          required
        />
      </div>
      <div class="input-box">
        <i class="bi bi-person-fill-lock input-icon"></i>
        <input
          type="password"
          name="password"
          class="form-control mb-2"
          placeholder="Password..."
          required
        />
      </div>
      {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
      {{/if}}
      <button class="btn btn-primary btn-submit">Login</button>
    </form>
    <div class="social-submit">
      <a href="/auth/google" class="btn btn-danger btn-social">
        <i class="bi bi-google"></i>
      </a>
      <a href="/auth/facebook" class="btn btn-primary btn-social">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="/auth/line" class="btn btn-success btn-social">
        <i class="bi bi-line"></i>
      </a>
    </div>
    <p class="get-account">
      Don't have an account?
      <a href="/auth/register">Register</a>
    </p>
  </div>
</div>
