<footer class="footer-layout">
  <div class="footer-social">
    <div class="social-link">
      <a href="https://github.com/">
        <i class="bi bi-github"></i>
        GitHub
      </a>
      <a href="#">
        <i class="bi bi-facebook"></i>
        Facebook
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2026 - Zuonkimi Todo App</p>
  </div>
</footer>
