<nav class="navbar">
  <div class="nav-left">
    <a class="navbar-brand logo-header" href="/">
      <img src="/img/img1.png" class="logo-header" alt="logo" />
      Todo App</a
    >
  </div>

  <div class="nav-center">
    {{!--
    <div class="search-wrapper">
      --}}
      <form method="GET" action="/tasks" class="search-wrapper">
        <input
          type="text"
          name="keyword"
          class="search-box"
          placeholder="Search tasks / documents..."
          value="{{filter.keyword}}"
          required
        />
        <button type="submit" class="search-btn">
          <i class="bi bi-search search-icon"></i>
        </button>
      </form>
      {{!--
    </div>
    --}}
  </div>

  <div class="nav-right">
    <img src="" alt="zuonkimi" class="avatar user-avt" />
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
        Menu
        <i class="bi bi-list"></i>
      </button>
      <div class="dropdown-menu">
        <a href="#">
          <i class="bi bi-person-circle"></i>
          Profile
        </a>
        <a href="#">
          <i class="bi bi-gear"></i>
          Settings
        </a>
        <a href="/auth/logout">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
