<aside class="sidebar">
  <a href="/">
    <i class="bi bi-house-heart"></i>
    Home
  </a>
  <a href="/tasks">
    <i class="bi bi-list-task"></i>
    Tasks
  </a>
  <a href="/tasks/create">
    <i class="bi bi-cloud-plus-fill"></i>
    Create
  </a>
  <a href="/me/trash-tasks">
    <i class="bi bi-trash3-fill"></i>
    Trash
  </a>
</aside>
