<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZunoPulse</title>
    <link rel="logo" href="" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <body class="main-layout">
    <div class="app-layout">
      {{> sidebar}}

      <div class="main-area">
        {{> header}}

        <main class="main-content">{{{body}}}</main>
        <button id="scrollTopBtn" class="scroll-top-btn">
          <i class="bi bi-arrow-up-circle-fill"></i>
        </button>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      function sidebarToggle() {
        document.getElementById('sidebar').classList.toggle('show-toggle');
      }
      window.onpageshow = function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      };

      // show/hide button
      const scrollBtn = document.getElementById('scrollTopBtn');
      window.addEventListener('scroll', () => {
        if (window.scrollY > 300) {
          scrollBtn.classList.add('show');
        } else {
          scrollBtn.classList.remove('show');
        }
      });
      // click to top
      scrollBtn.addEventListener('click', () => {
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        });
      });
    </script>
  </body>
</html>
